<nav class="navbar navbar-dark bg-primary">
          <!-- Navbar content -->
          <form class="form-inline">
              <img src="img/flagcheck.png" height= "60px">
              <h1>What Are the Facts?</h1>
              <div class="nav-btn mr-auto">
              <button class="scrape btn btn-outline-light" type="button">Scrape Article<a href="/scrape"></a></button>
              <button class="clear btn btn-outline-light" type="button">Clear Articles</button>
              </div>
            </form>
        </nav>
