<nav class="navbar navbar-dark bg-primary">
          <!-- Navbar content -->
          <form class="form-inline">
              <img src="img/flagcheck.png" height= "60px">
              <h1>What Are the Facts?</h1>
              <div class="nav-btn mr-auto">
              <button class="scrape btn btn-outline-light" type="button">Scrape Article<a href="/scrape"></a></button>
              <button class="btn btn-outline-light" type="button">Clear Articles</button>
              </div>
            </form>
        </nav>

  <div class= "BackgroundImage">
    <img src="./img/whatsthefacts2.png">
  </div>

    <div id="wrapper">
      <h1>FactCheck.org Scrapper</h1>
      <h2><i>A Location for individuals to Research the Credibility of Politicians in the Media</i></h2>
      <h3><i>These articles provided to you have have been published through FactCheck.org. For further access to their archives please visit their website.</i></h3>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
